<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hehemedia.spider.mapper.NewsInfoMapper">

    <insert id="saveNewsInfo" parameterType="com.hehemedia.spider.pojo.NewsInfo" useGeneratedKeys="true" keyProperty="studId">
          INSERT INTO news(title,newsTime,url,source) VALUES(#{title},#{newsTime},#{url},#{source})
    </insert>


</mapper>